<div>
  <h4>Add Comment</h4>
  <%= render 'form' %>
  
<%
=begin%>
<div id="update_form">  
  <div>
      <%= turbo_frame_tag "frame1" do %>
        <%= render 'form', locals: {book: @book} %>
      <% end %>
  </div>
</div>   
<%
=end%>

